@import "tailwindcss";
@plugin "daisyui";
* {
  box-sizing: border-box;
  margin: 0;
}

@theme {
  --color-primaryColor-100: #cce6e6;
  --color-primaryColor-200: #99cccc;
  --color-primaryColor-300: #66b3b3;
  --color-primaryColor-400: #339999;
  --color-primaryColor-500: #008080;
  --color-primaryColor-600: #006666;
  --color-primaryColor-700: #004d4d;
  --color-primaryColor-800: #003333;
  --color-primaryColor-900: #001a1a;

  --color-secondaryColor-100: #ccd9e6;
  --color-secondaryColor-200: #99b3cc;
  --color-secondaryColor-300: #668cb3;
  --color-secondaryColor-400: #336699;
  --color-secondaryColor-500: #004080;
  --color-secondaryColor-600: #003366;
  --color-secondaryColor-700: #00264d;
  --color-secondaryColor-800: #001a33;
  --color-secondaryColor-900: #000d1a;

  --color-accentColor-100: #cce6d9;
  --color-accentColor-200: #99ccb3;
  --color-accentColor-300: #66b38c;
  --color-accentColor-400: #339966;
  --color-accentColor-500: #008040;
  --color-accentColor-600: #006633;
  --color-accentColor-700: #004d26;
  --color-accentColor-800: #00331a;
  --color-accentColor-900: #001a0d;

  --shadow-custom-double: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

